<div id="<%= dom_id candidate %>" class="vote_tally" role="vote tally">
  <p class="candidate_name">
    <%= candidate.name %>
  </p>

  <p class="candidate_vote_count">
    <%= candidate.vote_count %>
  </p>

</div>
